!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title chat.meatspac.es - from fun experiment to global community

    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')

    link(rel='stylesheet', type='text/css', href='styles/marvel.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')

  body

    article

      section
        h1.lowercase chat.meatspac.es:
        h2.lowercase from fun experiment<br />to global community


      section
        h2 <a href="http://soledadpenades.com">Soledad Penadés</a>
        h3.bullet Apps Engineer at <a href="http://mozilla.org">Mozilla</a>
        ul
          li <a href="https://twitter.com/supersole">@supersole</a> in Twitter
          li #apps in irc.mozilla.org


      section
        h1.bullet Back in June 2013...
        h2.bullet <a href="http://rtcamera.apps.5013.es">rtcamera</a>
        h3.bullet Taking retro looking pictures with your webcam, in JavaScript


      section
        h1.bullet.lowercase <a href="http://artichoke.meatspac.es/">artichoke.meatspac.es</a>
        h2.bullet Federated multiuser tumblog
        h3.bullet We mostly posted funny GIFs there
        h3.bullet But one day we posted <a href="http://artichoke.meatspac.es/post/63">our</a> <a href="http://artichoke.meatspac.es/post/67">faces</a> using <a href="http://hdragomir.github.io/facetogif/">FacetoGif</a>


      section
        h1.bullet In July 2013
        h2.bullet Jen was totally into LevelDB
        h2.bullet Streams were the thing for her


      section
        h1.bullet Chat app using LevelDB
        h2.bullet Logging in with Persona
        h3.bullet You had to add friends manually (using the Persona ID)
        h3.bullet Your gravatar would be shown next to each message
        h3.bullet She built a prototype in a couple of hours


      section
        h1.bullet But we missed the GIFs


      section
        h1.bullet What if we captured your face when you sent a message?


      section
        h1.bullet Is your `LOL`...
        h1.bullet ... for reals?


      section
        h1.bullet Chat + Webcam
        ul
          li Webcam access with <a href="https://github.com/sole/gumhelper">gumHelper</a>
          li GIF encoding with <a href="https://github.com/sole/Animated_GIF">Animated_GIF</a>
          li base64 encoded, and stored in LevelDB
          li early <a href="img/perojen.mov" target="_blank">example</a>


      section
        h1.bullet Ephemeral
        ul
          li Messages went away after some minutes
          li You could make silly faces
          li And they'd loop!


      section
        h1.bullet Removing features
        h2.bullet No login
        h2.bullet No adding friends
        h2.bullet Still a secret


      section
        h1.bullet <a href="http://vimeo.com/77376238">Realtimeconf</a>
        h2.bullet All hell <a href="http://vimeo.com/77376238#t=8m">broke loose</a>
        ul
          li Hacker News
          li JavaScript <strike>people</strike> heavyweights
          li Internet/Cyberspace writers/philosophers


      section
        h1.bullet A community happened


      section
        h1.bullet Anonymous
        h2.bullet Everyone was a *bro,<br />depending on the context


      section
        h1.bullet Own memes
        ul
          li Exquisit corpses
          li Dance movements
          li wow mom wow mom
          li #hassomeonelandedyet


      section
        h1.bullet SRS BSNSS TOO
        h2.bullet A suicide was prevented
        h2.bullet Welcoming tech talk
        h2.bullet Improving base technologies


      section
        h1.bullet But wait, there's more!
        h2.bullet Opening conferences <a href="http://youtu.be/dW2ib0bkxGQ?t=8s">with</a> <a href="http://youtu.be/SCBbd5N4fho?t=44s">it</a>
        h2.bullet "Meatups"
        h2.bullet <a href="https://fr.meatspac.es">fr.meatspac.es</a>
        h2.bullet <a href="https://meatspaces.tv/">meatspaces.tv</a>


      section
        h1.bullet How did this even happen?


      section
        h1.bullet It is just for fun
        h2.bullet No monetising intent
        h3.bullet Though we're very grateful to <a href="https://www.digitalocean.com/">Digital Ocean</a> for the hosting


      section
        h1.bullet It is anonymous
        h2.bullet No strings attached
        h3.bullet Just turn up and be yourself
        h3.bullet Or... be whatever you feel like being today


      section
        h1.bullet <a href="https://github.com/meatspaces/meatspace-chat">Open source</a><br/>from day 0
        ul
          li Easy to join in - send a Pull Request
          li So far 510 commits, 40 contributors
          li Well defined APIs
          li Native apps for iOS, Android, text console


      section
        h1.bullet The future
        h2.bullet A London meatup!?
        h2.bullet ???
        h2.bullet I have no idea!


      section
        h1.bullet Conclusions
        h2.bullet Have fun toy projects
        h2.bullet Be modular
        h2.bullet Don't plan everything


      section
        h1.bullet Thanks! Questions?
        h2.lowercase <a href="https://chat.meatspac.es">chat.meatspac.es</a>
        h2.lowercase <a href="https://twitter.com/supersole">@supersole</a>


    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
